/* Reset */
*{
    box-sizing: border-box;
}

/* Variables */
:root{
    --clr-hero-footer-bg: #1F2937;
    --clr-btn: #3882F6;
    --clr-header-txt: #F9FAF8;
    --clr-shade-gray: #E5E7EB;  
}

/* Definitions */

