/* Reset */
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root{
    --clr-hero-footer-bg: #1F2937;
    --clr-btn: #3882F6;
    --clr-header-txt: #F9FAF8;
    --clr-shade-gray: #E5E7EB;  
}

/* Definitions */

.header-wrapper{
    background-color: var(--clr-hero-footer-bg);
    display: flex;
    padding: 24px 16vw;
}

.header-h2, .text__secondary{
    font-family: 'Roboto', sans-serif;
}

.header-h2{
    color: var(--clr-header-txt);
    font-size: 24px;
    margin-right: auto;
}

.text__secondary{
    color: var(--clr-shade-gray);
    font-size: 18px;
    font-weight: 300;
}

nav{
    display: flex;
    justify-content: space-between;
    min-width: 420px;
}

.header-link{
    text-decoration: none;
}

