/* || Reset */
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* || Variables */
:root{
    --clr-hero-footer-bg: #1F2937;
    --clr-btn: #3882F6;
    --clr-header-txt: #F9FAF8;
    --clr-shade-gray: #E5E7EB;  
}

/* || Definitions */
/* Header style definitions go here*/
.header-wrapper{
    background-color: var(--clr-hero-footer-bg);
    display: flex;
    padding: 24px 16vw;
}

.header-h3{
    color: var(--clr-header-txt);
    font-size: 24px;
    margin-right: auto;
}

.text__secondary{
    color: var(--clr-shade-gray);
    font-size: 18px;
    font-weight: 300;
}

nav{
    display: flex;
    justify-content: space-between;
    min-width: 420px;
}

.header-link{
    text-decoration: none;
}

/* Hero style definitions go here*/
.hero{
    background-color: var(--clr-hero-footer-bg);
}

.hero-wrapper{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-items: center;
}

.hero-horizontal-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 120px 16vw;
}

.card-text{
    flex-basis: 300px;
    flex-grow: 1;
}

.card-image{
    background-image: url(images/0.jpeg);
    background-size: cover;
    flex-basis: 300px;
    flex-grow: 1;
    height: 180px;
}

.hero-h1{
    color: var(--clr-header-txt);
    font-size: 48px;
}

button{
    background-color: var(--clr-btn);
    border-radius: 5px;
    border: none;
    color: var(--clr-header-txt);
    font-weight: bold;
    padding: 10px 30px;
}

.hero--btn{
    margin-top: 14px;
    margin-bottom: 20px;
}

/* Information section style definitions go here*/
.information-section{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    width: 100vw;
}

.information-h2{
    color: var(--clr-hero-footer-bg);
    text-align: center;
}

.information-section-wrapper{
    padding: 40px 31vw 100px;
    width: 100vw;
}

.img-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.information-card{
    display: flex;
    flex-basis: 160px;
    flex-flow: column;
    margin: 0 auto;
}

.information-card--img{
    border-radius: 15px;
    border:2px solid var(--clr-btn);
    height: 160px;
    margin-bottom: 10px;
}

.information-text__secondary{
    color: var(--clr-hero-footer-bg);
    font-weight: 300;
    text-align: center;
}

/* Quote section styles go here*/
.quote-section{
    background-color: var(--clr-shade-gray);
    padding: 100px 33vw;
}

blockquote{
    color: var(--clr-hero-footer-bg);
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: justify;
}

.cite{
    display: block;
    font-size: 20px;
    text-align: right;
}

/* Cta section styles go here*/
.cta{
    background-color: var(--clr-btn);
    border-radius: 5px;
    display: flex;
    margin: 100px 16vw;
    padding: 40px 80px;
}

.cta-inner-box-text{
    margin-right: auto;
}

.cta-h4{
    color: var(--clr-header-txt);
    font-size: 20px;
}

.cta--btn{
    border: 2px solid var(--clr-header-txt);
}

/* Footer style definitions go here*/
footer{
    background-color: var(--clr-hero-footer-bg);
    padding: 40px;
}

.copyright{
    display: block;
    text-align: center;
}